<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingjn.manage.persistence.mapper.SysDictMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dingjn.manage.persistence.entity.SysDict">
        <id column="id" property="id" />
        <result column="group_name" property="groupName" />
        <result column="group_code" property="groupCode" />
        <result column="item_name" property="itemName" />
        <result column="item_value" property="itemValue" />
        <result column="item_desc" property="itemDesc" />
        <result column="create_time" property="createTime" />
    </resultMap>
</mapper>
