<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dingjn.manage.persistence.mapper.SysRoleApiMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.dingjn.manage.persistence.entity.SysRoleApi">
        <id column="id" property="id" />
        <result column="role_id" property="roleId" />
        <result column="api_id" property="apiId" />
    </resultMap>


    <insert id="saveApiPerm">
        INSERT INTO sys_role_api(role_id,api_id) VALUES
        <foreach collection="apiIds" item="item" separator=",">
            (#{roleId},#{item})
        </foreach>
    </insert>
</mapper>
